<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="./navbar.component.css">
</head>
<body>

    <header>
        <a href="#" class="logo">P.savon</a>
        
        <nav class="navbar">
            <a href="#acceuil">acceuil</a>
            <a href="#calculator">calculatrice</a>
            <a href="#ingredients">ingredients</a>
            <a href="#contact">connexion</a>
        </nav>

        <button class="btn">inscription</button>
    </header>

    <section>

        
    </section>


</body>
</html>